extends reusehtml

block content
 h1 Displaying #{y.title}
  hr
  h5 Article Title: #{y.title}
  h6 Written by the author: #{r}
  p= y.body
  hr

  if user
   if user.id == y.author
    a.btn.btn-default(href='/articles/edit/' +y._id ) Click to edit article
    a.btn.btn-danger.delete-article(href='#', data-id=y._id) Delete
